{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="mt-3">Latest articles</h2>
        <div class="cards mt-3 mb-3 d-flex flex-wrap justify-content-around">
            {% for article in articles %}
                <div class="card mt-4" style="width: 22rem; border: 1px solid orange">
                    <img src="{{article.image}}" class="card-img-top" style="height: 15rem; object-fit: cover;" alt="Article image">
                    <div class="card-body">
                        <h4 class="card-title">{{article.title}}</h4>
                        <p class="card-text">{{article.body|truncatewords:15}}</p>
                        <a href="{% url 'article_detail' article.id %}" style="text-decoration: none !important; padding:5px 20px; background-color: orange; color: white;">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}